@font-face{
    font-family:'paradroidmonolight';
    src:url('../fonts/webfontkit-20230220-033126/paradroidmono-light.woff') format("woff");
    src:url('../fonts/webfontkit-20230220-033126/paradroidmono-light.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'paradroidmonolight';
    src: url('paradroidmono-light.woff2') format('woff2'),
         url('paradroidmono-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*/